{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/dropzone.css' %}" type="text/css">
<script type="application/javascript" src="{% static 'js/dropzone.js' %}"></script>


<style>
    .dz{
        border: dashed !important;
        border-color: #ccc !important;
        border-radius: 10px !important;
        transition: 0.2s all;
    }

    .dz:hover{
        background-color: aliceblue !important;
    }

    .ck-editor__editable {
        min-height: 200px;
        background-color: #e2e7ea !important;
    }

    .dz-preview .dz-image img{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
</style>

{% endblock style %}

{% block content %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-wrapper-inner mb-5">
            <h1 class="tt-title-border">
                Mövzunu redaktə et
            </h1>
            <form class="form-default form-create-topic" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                
                <!-- Title -->
                <div label='id_title' class="d-none alert alert-danger mt-3" role="alert">
                    <span label="error_content"></span>Qaydaları oxumaq üçün <a href="{% url 'student-rules' %}" class="alert-link"> clickləyin.</a> 
                </div> 
                <div id="div_id_title" class="form-group">        
                    <label for="id_title">Başlıq*</label>                                    
                    <input value="{{question.title}}" type="text" name="title" maxlength="50" class="textinput textInput form-control" required="" id="id_title">                                                                                
                </div>
                
                <!-- Content -->
                <div class="pt-editor mb-4 d-flex flex-column">
                    <h6 class="pt-title">Mövzu*</h6>                       
                    <div label='id_content' class="d-none alert alert-danger mt-3" role="alert">
                        <span label="error_content"></span>Qaydaları oxumaq üçün <a href="{% url 'student-rules' %}" class="alert-link"> clickləyin.</a> 
                    </div>                  
                    <div id="id_content"></div>     
                </div>

                <!-- Multiple images -->
                <div class="row mb-4 ">                                    
                    <div class="col-md-12">
                        <!-- Errors -->
                        <div label='id_images' class="d-none alert alert-danger mt-3" role="alert">
                            <span label="error_content"></span>Qaydaları oxumaq üçün <a href="{% url 'student-rules' %}" class="alert-link"> clickləyin.</a> 
                        </div>  
                        <div class="dropzone dz" id="myDropzone"></div>
                    </div>
                </div>

                <!-- Tags -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputTopicTags">Taqlar*</label> 
                            <!-- Errors -->
                            <div label='id_tags' class="d-none alert alert-danger mt-3" role="alert">
                                <span label="error_content"></span>Qaydaları oxumaq üçün <a href="{% url 'student-rules' %}" class="alert-link"> clickləyin.</a> 
                            </div>  
                            <input id="id_tags" value="{{question_tags}}" type="text" data-role="tagsinput" placeholder="Taq istifadə edin"> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <a id="create_post_btn" href="#" class="btn btn-secondary btn-width-lg">Yadda saxla</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>



{% endblock content %} 

{% block script %}




<script src="{% static 'js/tagsinput.js' %}"></script>
<!-- highlight.js-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<!-- Conifiguration of ckeditor -->
<script src="{% static 'ckeditor/ckeditor_config.js' %}"></script>

<!-- Load The Content -->
<script>
    $('ck-editor__editable').empty();
    html = String.raw`{{ question.content|safe|linebreaks }}`;
    console.log(html)
    id_content.setData(html)
</script>
    

</script>

<script>
    var mockFiles = {{question_images_data | safe}}
    var image_urls = {{question_images_urls | safe}}
    
    Dropzone.options.myDropzone= {
    url: `${location.href}`,
    headers:{
        'X-CSRFToken' : '{{ csrf_token }}'
    },
    autoProcessQueue: false,
    maxFiles : 2, // (Back-End : 2)
    maxFilesize : 2, //2 MB (Back-End : 2 MB)
    parallelUploads: 2,
    uploadMultiple : true,
    addRemoveLinks: true,
    autoProcessQueue: false, // Bununla biz submit etdikde filelar yuklenecek
    acceptedFiles: 'image/*', // (Back-End : only images)
    dictDefaultMessage: 'Şəkilləri bura yükləyin',
    dictFallbackMessage: 'Şəkilləri bura yükləyin',
    dictRemoveFile: 'Şəkli sil',
    dictFileTooBig: `Şəkilin tutumu böyüdür. Max şəkil tutumu: 2 MB`,
    dictInvalidFileType: 'Yalnız şəkil yükləyə bilərsiniz',
    dictMaxFilesExceeded: 'Maximum 2 şəkil yükləyə bilərsiniz',
    dictResponseError: "Server responded with {{statusCode}} code.",
    init: function() 
    {
        dzClosure = this; // Makes sure that 'this' is understood inside the functions below.
            
        // If you use the maxFiles option, make sure you adjust it to the
        // correct amount:
    
        for (let i = 0; i < mockFiles.length; i++) 
        {  
            this.options.addedfile.call(this, mockFiles[i]);
            this.options.thumbnail.call(this, mockFiles[i], image_urls[i]);
            mockFiles[i].previewElement.classList.add('dz-success');
            mockFiles[i].previewElement.classList.add('dz-complete');      
        }   


        // for Dropzone to process the queue (instead of default form behavior):
        $('#create_post_btn').on("click", function(e) {
            e.preventDefault();
            if (CheckTag() & CheckContent() & CheckTitle() & CheckImageLength())
            {
                console.log(dzClosure.files)
                console.log(dzClosure.getQueuedFiles())                
                if (dzClosure.getQueuedFiles().length > 0) 
                {                      
                    e.stopPropagation();  

                    dzClosure.processQueue();  
                    $('#create_post_btn').addClass('disabled')
                } 
                else 
                {
                    var blob = new Blob(); //Back check is blob or not
                    blob.upload = { 'chunked': dzClosure.defaultOptions.chunking };
                    dzClosure.uploadFile(blob);
                    $('#create_post_btn').addClass('disabled')
                }    
            }
            else
            {
                return false;
            }
        });

        //send all the form data along with the files:
        this.on("sendingmultiple", function(data, xhr, formData) {
            formData.append("title", $("#id_title").val());
            formData.append("content", id_content.getData());
            formData.append("tags", $("#id_tags").tagsinput('items'));
            formData.append("server_images", image_urls);
        });


        function CheckImageLength()
        {
            image_counter = image_urls.length + dzClosure.getQueuedFiles().length;
            imageErrorDiv = $("div[label='id_images']")
            if(image_counter > 2) //Empty
            {
                imageErrorDiv.removeClass('d-none')
                imageErrorDiv.find('span[label="error_content"]').text('Maximum 2 şəkil yükləyə bilərsiz.')
                //$('html,body').animate({scrollTop: imageErrorDiv.offset().top - 100},'slow');
                return false;
            }
            else
            {   
                imageErrorDiv.addClass('d-none');
                return true;
            }

        }

        
    },

    success: function(file, response)
    {
        console.log(response)    
        location.href = `/question/${response.slug}`;
    },

    removedfile: function(file) 
    {
        for (var i=0; i < image_urls.length; i++)
        {
            if(image_urls[i].split("/").pop() == file.name)
            {
                image_urls.splice(i, 1);
                console.log(image_urls)
            }        
            file.previewElement.remove();    
        }    
    }

}


function CheckContent()
{
    content = id_content.getData()
    contentErrorDiv = $("div[label='id_content']")
    if(!content) //Empty
    {
        contentErrorDiv.removeClass('d-none')
        contentErrorDiv.find('span[label="error_content"]').text('Mövzu doldurulmalıdır.')
        $('html,body').animate({scrollTop: $("div[label='id_title']").offset().top - 100},'slow');
        return false;
    }
    else
    {   
        contentErrorDiv.addClass('d-none');
        return true;
    }

}

function CheckTag()
{
    tagList = $("#id_tags").tagsinput('items')
    console.log(tagList)
    tagErrorDiv = $("div[label='id_tags']")
    if(tagList.length > 0 &&  tagList.length < 6 )  //Back max 5
    {
        tagErrorDiv.addClass('d-none')
        for (var i = 0; i < tagList.length; i++ )
        {
            if(! IsCorrectTag(tagList[i]))
            {
                tagErrorDiv.removeClass('d-none')
                tagErrorDiv.find('span[label="error_content"]').text('Daxil etdiyiniz tag standartlara uyğun deyil.')
                return false
            }                    
        }
        return true
    }
    else // Empty
    {  
        tagErrorDiv.removeClass('d-none')
        tagErrorDiv.find('span[label="error_content"]').text('Ən azı 1, ən çoxu 5 tag yazılmalıdır.')
        return false
    }

}

function IsCorrectTag(argTag)
{
    let pattern = /^[a-zA-Z0-9]{1,17}(-([a-zA-Z0-9]){1,17}){0,3}$/ //Back regex
    if (argTag.match(pattern))
    {
        return true;
    }
    return false;            
}

function CheckTitle()
{
    title = $("#id_title").val()
    titleErrorDiv = $("div[label='id_title']")
    if(!title.trim()) //Empty
    {
        titleErrorDiv.removeClass('d-none')
        titleErrorDiv.find('span[label="error_content"]').text('Başlıq doldurulmalıdır.')
        $('html,body').animate({scrollTop: titleErrorDiv.offset().top - 100},'slow');
        return false;
    }
    else
    {   
        if(title.trim().length > 50)
        {
            titleErrorDiv.removeClass('d-none')
            titleErrorDiv.find('span[label="error_content"]').text('Başlığın uzunluğu maximum 50 xarakterdən ibarət ola bilər.')
            $('html,body').animate({scrollTop: titleErrorDiv.offset().top - 100},'slow');
            return false;

        }
        else
        {
            if(IsTitleNormalized(title.trim()))
            {
                titleErrorDiv.addClass('d-none')

                return true;
            }
            else
            {
                titleErrorDiv.removeClass('d-none')
                titleErrorDiv.find('span[label="error_content"]').text('Daxil etdiyiniz başlıq standartlara uyğun deyil.')
                $('html,body').animate({scrollTop: titleErrorDiv.offset().top - 100},'slow');
                return false;
            }

        }
    }

}
    
function IsTitleNormalized(argData)
{
    var azeriChar = ['ə','ü','ö','ğ','ı','ç','ş']

    lowerData = argData.toLowerCase()

    for (var i=0; i < lowerData.length; i++)
    {
        if((lowerData[i].charCodeAt(0) >= 32 && lowerData[i].charCodeAt(0) <= 126) || azeriChar.includes(lowerData[i]) )
        {
            null;
        }
        else
        {
            return false;
        }
    }
    return true;

}


</script>




{% endblock script %}