{% extends 'base.html' %} 

{% load static %} 

{% load action_methods %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/dropzone.css' %}" type="text/css">
<script type="application/javascript" src="{% static 'js/dropzone.js' %}"></script>
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet" />

<style>
.action_active{
    fill: #2c62a0 !important;
}

.dz{
        border: dashed !important;
        border-color: #ccc !important;
        border-radius: 10px !important;
        transition: 0.2s all;
    }

    .dz:hover{
        background-color: aliceblue !important;
    }

    .ck-editor__editable {
        min-height: 200px;
    }
</style>
{% endblock style %}


{% block content %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-single-topic-list">
            <div class="tt-item">
                 <div class="tt-single-topic">
                    <div class="tt-item-header">
                        <div class="tt-item-info info-top">
                            <input id="request_user" type="hidden" value="{{request.user}" >
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-d"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                               <a href="#">{{question.student.user.get_full_name}}</a>
                            </div>
                            <div class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>{{question.created|date:"d F, Y" }}
                            </div>
                        </div>
                        <h3 class="tt-item-title">
                            <span href="#">{{question.title}}</span>
                        </h3>
                        <div class="tt-item-tag">
                            <ul class="tt-list-badge">
                                {% for tag in question.tags.all %}
                                <li><a href="#"><span class="tt-color03 tt-badge">{{tag}}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        {{ question.content|safe|linebreaks }}

                        <div style="display: flex; justify-content: space-around;">                         
                            {% for quesiton_image in question.questionimage_set.all %}
                                <div>
                                    <a href="{{quesiton_image.image.url}}" data-lightbox="question_{{question.id}}_imagegroup">
                                        <img style="width: auto; height:200px;"src="{{quesiton_image.image.url}}" alt="">
                                    </a>
                                </div>
                            {% endfor %}                            
                        </div>
                    </div>
                    <div class="tt-item-info info-bottom">
                        <a href="#" class="tt-icon-btn" onclick="event.preventDefault(); actions({{question.id}},'{{request.user}}', 'question', 'like', 'question_vote');">
                            <i class="tt-icon"><svg label='question' class="like_{{question.id}}"{% if question|question_upvote_check:student %}style="fill:#2c62a0;"{% endif %}><use xlink:href="#icon-like"></use></svg></i>
                            <span label='question'  class="tt-text like_{{question.id}}_count">{{ question.get_upvote }}</span>
                        </a>
                        <a href="#" class="tt-icon-btn" onclick="event.preventDefault(); actions({{question.id}},'{{request.user}}', 'question', 'dislike', 'question_vote');" >
                             <i  class="tt-icon"><svg label='question' class="dislike_{{question.id}}"{% if question|question_downvote_check:student %}style="fill:#2c62a0;"{% endif %}><use xlink:href="#icon-dislike"></use></svg></i>
                            <span label='question' class="tt-text dislike_{{question.id}}_count">{{ question.get_downvote }}</span>
                        </a>
                        <div class="col-separator"></div>
                        <div class="tt-row-icon">
                            <div class="tt-item">
                                <div class="tt-icon-btn tt-position-bottom">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                                    <span class="tt-text">{{ question.get_comment_count }}</span>
                                </div>
                            </div>
                            <div class="tt-item">
                                <div class="tt-icon-btn tt-position-bottom">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-view"></use></svg></i>
                                    <span class="tt-text">{{question.view}}</span>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>          
            {% for eachComment in comments %}
                <div class="tt-item  {% if question.answer == eachComment.id %} tt-wrapper-success {% elif eachComment.get_upvote < eachComment.get_downvote  %} tt-wrapper-danger {% endif %} ">
                    <input label='label_comment_id' type="hidden" value="{{eachComment.id}}">
                    <div class="tt-single-topic">
                        <div class="tt-item-header pt-noborder">
                            <div class="tt-item-info info-top">
                                <div class="tt-avatar-icon">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-ava-t"></use></svg></i>
                                </div>
                                <div class="tt-avatar-title">
                                    <a href="#">{{eachComment.student.user.get_full_name}}</a>
                                </div>
                                <a href="#" class="tt-info-time">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>{{eachComment.created|date:"d F, Y" }}
                                </a>
                            </div>
                            {% if question.student.user == request.user %}
                                <div class="tt-item-info info-top">                                
                                    <div class="tt-avatar-icon" style="padding-top: 60px;"> 
                                        <a href="#" onclick="event.preventDefault(); check_answer({{question.id}}, {{eachComment.id}});">
                                            <i class="tt-icon"><svg   width="36" height="36" viewBox="0 0 36 36"><path class="select_answer" {% if question|comment_answer_check:eachComment %} style='fill:#48A868;' {% else %} style='fill:#aeb3b4;' {% endif %}  d="M6 14l8 8L30 6v8L14 30l-8-8v-8z"></path></svg></i>
                                        </a> 
                                    </div>                                
                                </div>
                            {% endif %}
                        </div>
                        <div class="tt-item-description">
                            {{ eachComment.content|safe|linebreaks }}
                            <div style="display: flex; justify-content: space-around;">
                                {% for comment_image in eachComment.commentimage_set.all %}
                                    <div>
                                        <a href="{{comment_image.image.url}}" data-lightbox="comment_{{eachComment.id}}_imagegroup">
                                            <img style="width: auto; height:200px;"src="{{comment_image.image.url}}" alt="">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tt-item-info info-bottom">
                            <a href="#" class="tt-icon-btn" onclick="event.preventDefault(); actions({{question.id}},'{{request.user}}', 'comment', 'like', 'comment_vote', {{eachComment.id}});">
                                <i class="tt-icon"><svg label='comment' class="like_{{eachComment.id}}"{% if eachComment|comment_upvote_check:student %}style="fill:#2c62a0;"{% endif %}><use xlink:href="#icon-like"></use></svg></i>
                                <span label='comment' class="tt-text like_{{eachComment.id}}_count">{{ eachComment.get_upvote }}</span>
                            </a>
                            <a href="#" class="tt-icon-btn" onclick="event.preventDefault(); actions({{question.id}},'{{request.user}}', 'comment', 'dislike', 'comment_vote', {{eachComment.id}});" >
                                <i class="tt-icon"><svg label='comment' class="dislike_{{eachComment.id}}"{% if eachComment|comment_downvote_check:student %}style="fill:#2c62a0;"{% endif %}><use xlink:href="#icon-dislike"></use></svg></i>
                                <span label='comment' class="tt-text dislike_{{eachComment.id}}_count">{{ eachComment.get_downvote }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="tt-wrapper-inner">
            <h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>
        </div>

        <!-- Post Your Reply -->
        <div class="tt-wrapper-inner">
            <div class="pt-editor form-default">
                <h6 class="pt-title">Cavab Yaz</h6>  
                <div label='id_answer_content' class="d-none alert alert-danger mt-3" role="alert">
                    <span label="error_content"></span>Qaydaları oxumaq üçün <a href="{% url 'student-rules' %}" class="alert-link"> clickləyin.</a> 
                </div>               
                <div id="id_answer_content"></div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-12">
                    <div class="dropzone dz" id="answerDropzone"></div>
                </div>
            </div>
            <div class="row flex flex-row-reverse">
                <div class="col-auto">
                    <a id="create_post_answer" href="#" class="btn btn-secondary btn-width-lg">Cavabla</a>
                </div>
            </div>
        </div>
        <!-- Suggested topics -->
        <div class="tt-topic-list tt-ofset-30">
            <div class="tt-list-search">
                <div class="tt-title">Suggested Topics</div>
                <!-- tt-search -->
                <div class="tt-search">
                    <form class="search-wrapper">
                        <div class="search-form">
                            <input type="text" class="tt-search__input" placeholder="Search for topics">
                            <button class="tt-search__btn" type="submit">
                               <svg class="tt-icon">
                                  <use xlink:href="#icon-search"></use>
                                </svg>
                            </button>
                             <button class="tt-search__close">
                               <svg class="tt-icon">
                                  <use xlink:href="#icon-cancel"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /tt-search -->
            </div>
            <div class="tt-list-header tt-border-bottom">
                <div class="tt-col-topic">Topic</div>
                <div class="tt-col-category">Category</div>
                <div class="tt-col-value hide-mobile">Likes</div>
                <div class="tt-col-value hide-mobile">Replies</div>
                <div class="tt-col-value hide-mobile">Views</div>
                <div class="tt-col-value">Activity</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-ava-n"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                        Does Envato act against the authors of Envato markets?
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color05 tt-badge">music</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">1d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color05 tt-badge">music</span></div>
                <div class="tt-col-value hide-mobile">358</div>
                <div class="tt-col-value tt-color-select hide-mobile">68</div>
                <div class="tt-col-value hide-mobile">8.3k</div>
                <div class="tt-col-value hide-mobile">1d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-h"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                        <svg class="tt-icon">
                          <use xlink:href="#icon-locked"></use>
                        </svg>
                        We Want to Hear From You! What Would You Like?
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color06 tt-badge">movies</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color06 tt-badge">movies</span></div>
                <div class="tt-col-value hide-mobile">674</div>
                <div class="tt-col-value tt-color-select  hide-mobile">29</div>
                <div class="tt-col-value hide-mobile">1.3k</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-j"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                       Seeking partner backend developer
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color03 tt-badge">exchange</span></a></li>
                                <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                                <li><a href="#"><span class="tt-badge">elements</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color13 tt-badge">movies</span></div>
                <div class="tt-col-value hide-mobile">278</div>
                <div class="tt-col-value tt-color-select  hide-mobile">27</div>
                <div class="tt-col-value hide-mobile">1.4k</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-t"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                        Cannot customize my intro
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color07 tt-badge">video games</span></a></li>
                                <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                                <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color07 tt-badge">video games</span></div>
                <div class="tt-col-value hide-mobile">364</div>
                <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                <div class="tt-col-value  hide-mobile">982</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-k"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                        <svg class="tt-icon">
                          <use xlink:href="#icon-verified"></use>
                        </svg>
                        Microsoft Word and Power Point
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color08 tt-badge">youtube</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">3d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color08 tt-badge">youtube</span></div>
                <div class="tt-col-value  hide-mobile">698</div>
                <div class="tt-col-value tt-color-select  hide-mobile">78</div>
                <div class="tt-col-value  hide-mobile">2.1k</div>
                <div class="tt-col-value hide-mobile">3d</div>
            </div>
            <div class="tt-row-btn">
                <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>
>

{% endblock content %}

{% block script %}
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script src="{% static 'js/actions.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>

<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<!-- Conifiguration of ckeditor -->
<script src="{% static 'ckeditor/ckeditor_config.js' %}"></script>

<!-- highlight.js-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


<script>
    var isEnter = true;
    Dropzone.options.answerDropzone= {
    url: `${window.location.href}`,
    headers:{
        'X-CSRFToken' : '{{ csrf_token }}'
    },
    autoProcessQueue: false,
    maxFiles : 2, // (Back-End : 2)
    maxFilesize : 2, //2 MB (Back-End : 2 MB)
    parallelUploads: 2,
    uploadMultiple : true,
    addRemoveLinks: true,
    autoProcessQueue: false, // Bununla biz submit etdikde filelar yuklenecek
    acceptedFiles: 'image/*', // (Back-End : only images)
    dictDefaultMessage: 'Şəkilləri bura yükləyin',
    dictFallbackMessage: 'Şəkilləri bura yükləyin',
    dictRemoveFile: 'Şəkli sil',
    dictFileTooBig: `Şəkilin tutumu böyüdür. Max şəkil tutumu: 2 MB`,
    dictInvalidFileType: 'Yalnız şəkil yükləyə bilərsiniz',
    dictMaxFilesExceeded: 'Maximum 2 şəkil yükləyə bilərsiniz',
    dictResponseError: "Server responded with {{statusCode}} code.",
    init: function() {
        dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

        // for Dropzone to process the queue (instead of default form behavior):
        $('#create_post_answer').on("click", function(e) {
            if (CheckContent())
            {
                if (dzClosure.getQueuedFiles().length > 0) 
                {
                    isEnter = true;                      
                    e.preventDefault();
                    e.stopPropagation();  
                    dzClosure.processQueue(); 
                    $('#create_post_answer').addClass('disabled')
                } 
                else 
                {
                    isEnter = true;                      
                    e.preventDefault();
                    var blob = new Blob(); //Back check is blob or not
                    blob.upload = { 'chunked': dzClosure.defaultOptions.chunking };
                    dzClosure.uploadFile(blob);
                    $('#create_post_answer').addClass('disabled')
                }    
            }
            else
            {
                $('html,body').animate({scrollTop: $("div[label='id_answer_content']").offset().top - 100},'slow');
                e.preventDefault();
                return false;
            }
        });

        //send all the form data along with the files:
        this.on("sendingmultiple", function(data, xhr, formData) 
        {
            formData.append("question_id", '{{question.id}}');
            formData.append("content", id_answer_content.getData());
            formData.append("post_type", "comment_create");
        });

        
        function CheckContent()
        {
            content = id_answer_content.getData()
            contentErrorDiv = $("div[label='id_answer_content']")
            if(!content) //Empty
            {
                contentErrorDiv.removeClass('d-none')
                contentErrorDiv.find('span[label="error_content"]').text('Mövzu doldurulmalıdır.')
                return false;
            }
            else
            {   
                contentErrorDiv.addClass('d-none');
                return true;
            }
        };

    },


    success: function(file, response)
    {
        if(isEnter)
        {
            isEnter = false
            console.log(response)
            html = `<div class="tt-item">
                        <input label='label_comment_id' type="hidden" value="${response.comment_id}">
                        <div class="tt-single-topic">
                            <div class="tt-item-header pt-noborder">
                                <div class="tt-item-info info-top">
                                    <div class="tt-avatar-icon">
                                        <i class="tt-icon"><svg><use xlink:href="#icon-ava-t"></use></svg></i>
                                    </div>
                                    <div class="tt-avatar-title">
                                        <a href="#">${response.full_name}</a>
                                    </div>
                                    <a href="#" class="tt-info-time">
                                        <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>${response.created_date}
                                    </a>
                                </div>
                                ${IsOwner(response.owner)}
                            </div>
                            <div class="tt-item-description">
                                ${response.content}
                                <div style="display: flex; justify-content: space-around;">
                                ${GetImages(response.images)}
                                </div>
                            </div>

                            <div class="tt-item-info info-bottom">
                                <a href="#" class="tt-icon-btn" onclick="event.preventDefault(); actions(${response.question_id},'${$('#request_user').val()}', 'comment', 'like', 'comment_vote', ${response.comment_id});">
                                    <i class="tt-icon"><svg label='comment' class="like_${response.comment_id}"><use xlink:href="#icon-like"></use></svg></i>
                                    <span label='comment' class="tt-text like_${response.comment_id}_count">0</span>
                                </a>
                                <a href="#" class="tt-icon-btn" onclick="event.preventDefault(); actions(${response.question_id},'${$('#request_user').val()}', 'comment', 'dislike', 'comment_vote', ${response.comment_id});">
                                    <i class="tt-icon"><svg label='comment' class="dislike_${response.comment_id}"><use xlink:href="#icon-dislike"></use></svg></i>
                                    <span label='comment' class="tt-text dislike_${response.comment_id}_count">0</span>
                                </a>
                            </div>
                        </div>
                    </div>`
            
            $('.tt-single-topic-list').append(html)
            comments = $('.tt-single-topic-list')[0].querySelectorAll('.tt-item')

            code = $(comments[comments.length-1]).find('code')[0]
            if(code)
            {
                hljs.highlightBlock(code)
                $(comments[comments.length-1]).find('code').addClass("hljs javascript");
            }
            $('html,body').animate({scrollTop: $(comments[comments.length-1]).offset().top - 100},'slow');

            setTimeout(function(){ 
                dzClosure.removeAllFiles(true)
                id_answer_content.setData('')
                $('#create_post_answer').removeClass('disabled')
            }, 2000); // 5 sec


            function IsOwner(argOwner)
            {
                if(argOwner)
                {
                    return ` <div class="tt-item-info info-top">                                
                                <div class="tt-avatar-icon" style="padding-top: 60px;"> 
                                    <a href="#" onclick="event.preventDefault(); check_answer(${response.question_id}, ${response.comment_id});">
                                        <i class="tt-icon"><svg   width="36" height="36" viewBox="0 0 36 36"><path class="select_answer" style='fill:#aeb3b4;' d="M6 14l8 8L30 6v8L14 30l-8-8v-8z"></path></svg></i>
                                    </a> 
                                </div>                                
                            </div>`
                }
                else
                {
                    return ``
                }
            }

            function GetImages(argImages)
            {
                temp_html = ''
                for (var i = 0; i < argImages.length; i++)
                {
                    temp_html += `<div>
                                    <a href="${argImages[i]}" data-lightbox="comment_${response.comment_id}_imagegroup">
                                        <img style="width: auto; height:200px;"src="${argImages[i]}" alt="">
                                    </a>
                                </div>`
                }
                return temp_html;

            }
        }        
    },

}



</script>

</script>


{% endblock script %}


