{% extends 'base.html' %} 

{% load static %} 

{% load action_methods %}

{% block style %}
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet" />
{% endblock style%}

{% block content %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-single-topic-list">
            <div class="tt-item">
                 <div class="tt-single-topic">
                    <div class="tt-item-header">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-d"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                               <a href="#">{{question.student.user.get_full_name}}</a>
                            </div>
                            <div class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>{{question.created|date:"d F, Y" }}
                            </div>
                        </div>
                        <h3 class="tt-item-title">
                            <span href="#">{{question.title}}</span>
                        </h3>
                        <div class="tt-item-tag">
                            <ul class="tt-list-badge">
                                {% for tag in question.tags.all %}
                                <li><a href="#"><span class="tt-color03 tt-badge">{{tag}}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        {{ question.content|safe|linebreaks }}
                        <div style="display: flex; justify-content: space-around;">
                        {%for question_image in question.questionimage_set.all%}
                        <div>
                        <a href="{{question_image.image.url}}" data-lightbox="imagegroup"><img style="width: auto; height:200px;"src="{{question_image.image.url}}" alt=""></a>
                    </div>
                        {%endfor%}
                    </div>
                    </div>
                    <div class="tt-item-info info-bottom">
                        <a href="#" class="tt-icon-btn" onclick="event.preventDefault(); actions({{question.id}},'{{request.user}}', 'question', 'like'); ">
                            <i class="tt-icon"><svg class="like_{{question.id}}"{% if question|upvote_check:student %}style="fill:#2c62a0;"{% endif %}><use xlink:href="#icon-like"></use></svg></i>
                            <span class="tt-text like_{{question.id}}_count">{{ question.get_upvote }}</span>
                        </a>
                        <a href="#" class="tt-icon-btn" onclick="event.preventDefault(); actions({{question.id}},'{{request.user}}', 'question', 'dislike') " >
                             <i class="tt-icon"><svg class="dislike_{{question.id}}"{% if question|downvote_check:student %}style="fill:#2c62a0;"{% endif %}><use xlink:href="#icon-dislike"></use></svg></i>
                            <span class="tt-text dislike_{{question.id}}_count">{{ question.get_downvote }}</span>
                        </a>
                        <div class="col-separator"></div>
                        <div class="tt-row-icon">
                            <div class="tt-item">
                                <div class="tt-icon-btn tt-position-bottom">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                                    <span class="tt-text">{{ question.get_comment_count }}</span>
                                </div>
                            </div>
                            <div class="tt-item">
                                <div class="tt-icon-btn tt-position-bottom">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-view"></use></svg></i>
                                    <span class="tt-text">{{question.view}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="tt-item tt-wrapper-success">
                 <div class="tt-single-topic">
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-t"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                               <a href="#">tesla02</a>
                               <span class="tt-color13 tt-badge">best answer</span>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>6 Jan,2019
                            </a>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        Finally!<br>
                        Are there any special recommendations for design or an updated guide that includes new preview sizes, including retina displays?
                    </div>
                    <div class="tt-item-info info-bottom">
                        <a href="#" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                            <span class="tt-text">671</span>
                        </a>
                        <a href="#" class="tt-icon-btn">
                             <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                            <span class="tt-text">39</span>
                        </a>
                        <div class="col-separator"></div>
                    </div>
                </div>
            </div>
            <div class="tt-item">
                 <div class="tt-single-topic">
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-t"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                               <a href="#">kulis72</a>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>6 Jan,2019
                            </a>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        Eventually!<br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quidem magnam esse rerum, officiis delectus?
                    </div>
                    <div class="tt-item-info info-bottom">
                        <a href="#" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                            <span class="tt-text">671</span>
                        </a>
                        <a href="#" class="tt-icon-btn">
                             <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                            <span class="tt-text">39</span>
                        </a>
                        <a href="#" class="tt-icon-btn">
                             <i class="tt-icon"><svg><use xlink:href="#icon-favorite"></use></svg></i>
                            <span class="tt-text">12</span>
                        </a>
                        <div class="col-separator"></div>
                    </div>
                </div>
            </div>
            <div class="tt-item tt-wrapper-danger">
                 <div class="tt-single-topic">
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-u"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                               <a href="#">usain31</a>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>6 Jan,2019
                            </a>
                        </div>
                    </div>
                    <div class="tt-item-description">
                       This post has been flagged by a moderator, received too many downvotes.
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="tt-item-info info-bottom">
                                <a href="#" class="tt-icon-btn">
                                     <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                                    <span class="tt-text">39</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-wrapper-inner">
            <h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>
        </div>
        <div class="tt-topic-list">
            <div class="tt-item tt-item-popup">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-ava-f"></use>
                    </svg>
                </div>
                <div class="tt-col-message">
                    Looks like you are new here. Register for free, learn and contribute.
                </div>
                <div class="tt-col-btn">
                    <button type="button" class="btn btn-primary">Log in</button>
                    <button type="button" class="btn btn-secondary">Sign up</button>
                    <button type="button" class="btn-icon">
                        <svg class="tt-icon">
                          <use xlink:href="#icon-cancel"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="tt-wrapper-inner">
            <div class="pt-editor form-default">
                <h6 class="pt-title">Post Your Reply</h6>
                 <div class="pt-row">
                    <div class="col-left">
                        <ul class="pt-edit-btn">
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-quote"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-bold"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-italic"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-share_topic"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-blockquote"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-performatted"></use>
                                            </svg>
                                        </button></li>
                                        <li class="hr"></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-upload_files"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-bullet_list"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-heading"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-horizontal_line"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-emoticon"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-settings"></use>
                                            </svg>
                                        </button></li>
                                        <li><button type="button" class="btn-icon">
                                            <svg class="tt-icon">
                                              <use xlink:href="#icon-color_picker"></use>
                                            </svg>
                                        </button></li>
                                    </ul>
                    </div>
                    <div class="col-right tt-hidden-mobile">
                        <a href="#" class="btn btn-primary">Preview</a>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                </div>
                <div class="pt-row">
                    <div class="col-auto">
                        <div class="checkbox-group">
                            <input type="checkbox" id="checkBox21" name="checkbox" checked="">
                            <label for="checkBox21">
                                <span class="check"></span>
                                <span class="box"></span>
                                <span class="tt-text">Subscribe to this topic.</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="btn btn-secondary btn-width-lg">Reply</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-topic-list tt-ofset-30">
            <div class="tt-list-search">
                <div class="tt-title">Suggested Topics</div>
                <!-- tt-search -->
                <div class="tt-search">
                    <form class="search-wrapper">
                        <div class="search-form">
                            <input type="text" class="tt-search__input" placeholder="Search for topics">
                            <button class="tt-search__btn" type="submit">
                               <svg class="tt-icon">
                                  <use xlink:href="#icon-search"></use>
                                </svg>
                            </button>
                             <button class="tt-search__close">
                               <svg class="tt-icon">
                                  <use xlink:href="#icon-cancel"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /tt-search -->
            </div>
            <div class="tt-list-header tt-border-bottom">
                <div class="tt-col-topic">Topic</div>
                <div class="tt-col-category">Category</div>
                <div class="tt-col-value hide-mobile">Likes</div>
                <div class="tt-col-value hide-mobile">Replies</div>
                <div class="tt-col-value hide-mobile">Views</div>
                <div class="tt-col-value">Activity</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-ava-n"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                        Does Envato act against the authors of Envato markets?
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color05 tt-badge">music</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">1d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color05 tt-badge">music</span></div>
                <div class="tt-col-value hide-mobile">358</div>
                <div class="tt-col-value tt-color-select hide-mobile">68</div>
                <div class="tt-col-value hide-mobile">8.3k</div>
                <div class="tt-col-value hide-mobile">1d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-h"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                        <svg class="tt-icon">
                          <use xlink:href="#icon-locked"></use>
                        </svg>
                        We Want to Hear From You! What Would You Like?
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color06 tt-badge">movies</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color06 tt-badge">movies</span></div>
                <div class="tt-col-value hide-mobile">674</div>
                <div class="tt-col-value tt-color-select  hide-mobile">29</div>
                <div class="tt-col-value hide-mobile">1.3k</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-j"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                       Seeking partner backend developer
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color03 tt-badge">exchange</span></a></li>
                                <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                                <li><a href="#"><span class="tt-badge">elements</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color13 tt-badge">movies</span></div>
                <div class="tt-col-value hide-mobile">278</div>
                <div class="tt-col-value tt-color-select  hide-mobile">27</div>
                <div class="tt-col-value hide-mobile">1.4k</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-t"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                        Cannot customize my intro
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color07 tt-badge">video games</span></a></li>
                                <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                                <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color07 tt-badge">video games</span></div>
                <div class="tt-col-value hide-mobile">364</div>
                <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                <div class="tt-col-value  hide-mobile">982</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-k"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="#">
                        <svg class="tt-icon">
                          <use xlink:href="#icon-verified"></use>
                        </svg>
                        Microsoft Word and Power Point
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color08 tt-badge">youtube</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                           <div class="tt-value">3d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color08 tt-badge">youtube</span></div>
                <div class="tt-col-value  hide-mobile">698</div>
                <div class="tt-col-value tt-color-select  hide-mobile">78</div>
                <div class="tt-col-value  hide-mobile">2.1k</div>
                <div class="tt-col-value hide-mobile">3d</div>
            </div>
            <div class="tt-row-btn">
                <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block script %}
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script src="{% static 'js/actions.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>

<!-- highlight.js-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock script %}