{% extends 'base.html' %} {% load static %} {% block content %}

<main id="tt-pageContent" class="tt-offset-small">
  <div class="container">
    <div class="tt-tab-wrapper" style="margin-bottom: 200px">
      <div class="tab-content">
        <div class="tab-pane show fade active" id="tt-tab-01" role="tabpanel">
          <div class="tt-layout-tab">
            <div class="tt-wrapper-inner">
              <h2 class="tt-title">Saytın istifadəçiləri haqqında</h2>
              {% for role in roles %}
                <h3 class="tt-title tt-color0{{role.id}}">{{ role.name }}</h3>
                
                <div class="tt-list-avatar">
                  <div class="row">
                    {% for student in role.student_set.all %}
                    <div class="col-6 col-md-4 col-lg-3">
                      <a href="{% url 'user_activity' id=student.user.id %}" class="tt-avatar">
                        <div class="tt-col-icon" style="border-radius: 50%">
                          <img src="{{student.picture.url}}" alt="" style="width: 40px; height: 40px; border-radius: 50%" />
                        </div>
                        <div class="tt-col-description">
                          <h6 class="tt-title">{{student.user.get_full_name}}</h6>
                          <div class="tt-value logo-color-text">@{{student.user.username}}</div>
                        </div>
                      </a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Qeyd tablarin js-i var onlari da vaxti gelende silmek lazimdir -->

{% endblock content %}
