{% extends 'base.html' %} {% load static %} {% block content %}

<main id="tt-pageContent" class="tt-offset-small">
  <div class="container">
    <div class="tt-tab-wrapper" style="margin-bottom: 200px">
      <div class="tab-content">
        <div class="tab-pane show fade active" id="tt-tab-01" role="tabpanel">
          <div class="tt-layout-tab">
            <div class="tt-wrapper-inner">
              <h2 class="tt-title">Saytın istifadəçiləri haqqında</h2>
              <h3 class="tt-title">Adminlər</h3>
              <div class="tt-list-avatar">
                <div class="row">
                  <div class="col-6 col-md-4 col-lg-3">
                    <a href="#" class="tt-avatar">
                      <div class="tt-col-icon" style="border-radius: 50%">
                        <img src="{% static 'images/profile_images/default.jpg' %}" alt="" style="width: 40px; height: 40px; border-radius: 50%" />
                      </div>
                      <div class="tt-col-description">
                        <h6 class="tt-title">Soltanov</h6>
                        <div class="tt-value">@theking</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <h4 class="tt-title">Editorlar</h4>
              <div class="tt-list-avatar">
                <div class="row">
                  <div class="col-6 col-md-4 col-lg-3">
                    <a href="#" class="tt-avatar">
                      <div class="tt-col-icon" style="border-radius: 50%">
                        <img src="{% static 'images/profile_images/default.jpg' %}" alt="" style="width: 40px; height: 40px; border-radius: 50%" />
                      </div>
                      <div class="tt-col-description">
                        <h6 class="tt-title">Soltanov</h6>
                        <div class="tt-value">@theking</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <h3 class="tt-title">TOP 10 Tələbə</h3>
              <div class="tt-list-avatar">
                <div class="row">
                  {% for student in students %}
                  <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% url 'user_activity' id=student.user.id %}" class="tt-avatar">
                      <div class="tt-col-icon" style="border-radius: 50%">
                        <img src="{{student.picture.url}}" alt="" style="width: 40px; height: 40px; border-radius: 50%" />
                      </div>
                      <div class="tt-col-description">
                        <h6 class="tt-title">{{student.user.get_full_name}}</h6>
                        <div class="tt-value">@{{student.user.username}}</div>
                      </div>
                    </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Qeyd tablarin js-i var onlari da vaxti gelende silmek lazimdir -->

{% endblock content %}
