
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load el_pagination_tags %}

<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-topic-list">
            <div class="tt-list-header">
                <div class="tt-col-topic">Mövzu</div>
                <div class="tt-col-value hide-mobile text-center">Upvote</div>
                <div class="tt-col-value hide-mobile text-center">Downvote</div>
                <div class="tt-col-value hide-mobile text-center">Cavablar</div>
                <div class="tt-col-value hide-mobile text-center">Görünmə</div>
                <div class="tt-col-value text-center">Tarix</div>
            </div>
            

            {% include page_template %}
            
            
            
        </div>
    </div>
</main>


{% endblock %}


{% block script %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}