{% extends 'base.html' %}

{% load static %}

{% load tag_methods %}

{% block content %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-catSingle-title">
            <div class="tt-innerwrapper tt-row">
                <div class="tt-col-left">
                    <ul class="tt-list-badge">
                        <li><a href="#"><span class="tt-color01 tt-badge logo-color">{{ tag.name }}</span></a></li>
                    </ul>
                </div>
                <div class="ml-left tt-col-right">
                    <div class="tt-col-item">
                        <h2 class="tt-value">Suallar - {% tag_count tag %}</h2>
                    </div>
                    <div class="tt-col-item">
                        <div class="tt-search">
                            <form class="search-wrapper">
                                <div class="search-form">
                                    <input type="text" class="tt-search__input" placeholder="Axtar..">
                                    <button class="tt-search__btn" type="submit">
                                        <svg class="tt-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117 117" id="icon-search"><path d="M54 108C24.22 108 0 83.78 0 54S24.22 0 54 0s54 24.22 54 54-24.22 54-54 54zm0-99C29.19 9 9 29.19 9 54s20.19 45 45 45 45-20.19 45-45S78.81 9 54 9z"></path><path d="M112.5 117c-1.15 0-2.3-.44-3.18-1.32l-23.5-23.5a4.49 4.49 0 0 1 0-6.36 4.49 4.49 0 0 1 6.36 0l23.5 23.5a4.49 4.49 0 0 1 0 6.36c-.88.88-2.03 1.32-3.18 1.32z"></path></svg>
                                        </svg>
                                    </button>
                                     <button class="tt-search__close">
                                       <svg class="tt-icon">
                                          <use xlink:href="#icon-cancel"></use>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tt-innerwrapper">
                {{ tag.taginfo }}
            </div>
        </div>
        <div class="tt-topic-list">
            <div class="tt-list-header">
                <div class="tt-col-topic">Mövzu</div>
                <div class="tt-col-value hide-mobile text-center">Upvote</div>
                <div class="tt-col-value hide-mobile text-center">Downvote</div>
                <div class="tt-col-value hide-mobile text-center">Kommentlər</div>
                <div class="tt-col-value text-center">Tarix</div>
            </div>

            {% include page_template %}
        
        </div>
    </div>
</main>

{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}




