{% extends 'base.html' %}

{% load static %}

{% load tag_methods %}

{% block content %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-catSingle-title">
            <div class="tt-innerwrapper tt-row">
                <div class="tt-col-left">
                    <ul class="tt-list-badge">
                        <li><a href="#"><span class="tt-color01 tt-badge logo-color">{{ tag.name }}</span></a></li>
                    </ul>
                </div>
                <div class="ml-left tt-col-right">
                    <div class="tt-col-item">
                        <h2 class="tt-value">Suallar - {% tag_count tag %}</h2>
                    </div>
                </div>
            </div>
            <div class="tt-innerwrapper">
                {{ tag.taginfo }}
            </div>
        </div>
        <div class="tt-topic-list">
            <div class="tt-list-header">
                <div class="tt-col-topic">Mövzu</div>
                <div class="tt-col-value hide-mobile text-center">Upvote</div>
                <div class="tt-col-value hide-mobile text-center">Downvote</div>
                <div class="tt-col-value hide-mobile text-center">Kommentlər</div>
                <div class="tt-col-value text-center">Tarix</div>
            </div>

            {% include page_template %}
        
        </div>
    </div>
</main>

{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}




