{% load el_pagination_tags %}

{% load tag_methods %}

{% lazy_paginate 21 tags %}

{% for tag in tags %}
<div class="col-md-6 col-lg-4">
    <div class="tt-item">
        <div class="tt-item-header">
            <ul class="tt-list-badge">
                <li><a href="{% url 'single_tag' slug=tag.slug %}"><span class="tt-color01 tt-badge logo-color">{{ tag.name }}</span></a></li>
            </ul>
            <h6 class="tt-title"><a href="{% url 'single_tag' slug=tag.slug %}">Suallar - {% tag_count tag %}</a></h6>
        </div>
        <div class="tt-item-layout">
            <div class="innerwrapper">
                {{ tag.taginfo }}
            </div>                         
        </div>
    </div>
</div>
{% endfor %}

{% show_more %}