{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="tt-pageContent">
    <div class="tt-custom-mobile-indent container">
        <div class="tt-categories-title">
            <div class="tt-title">Taqlar</div>
        </div>
        <div class="tt-categories-list">
            <div class="row">
                {% if tags != -1 %}

                    {% include page_template %}

                {% else %}

                    <div class="text-center">
        
                        <h5>Saytda taq tapılmadı.</h5>

                    </div>

                {% endif %}
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}

