{% extends 'base.html' %} 

{% load static %} 

{% load el_pagination_tags %}
    
{% block content %}

<main id="tt-pageContent" class="tt-offset-small">
    <div class="tt-wrapper-section">
        <div class="container">
            <div class="tt-user-header d-block">
                <div class="tt-col-avatar d-flex align-items-center" style="width: 100%;">
                    <div class="tt-icon">
                       <img class="tt-icon" src="{{ student.picture.url }}" style="width: 40px; height: 40px; border-radius: 50%" />
                    </div>
                    <div class="tt-col-title">
                        <div class="tt-title">
                            <a href="#">{{student.user.username}}</a>
                        </div>
                        
                    </div>
                </div>
                <ul class="tt-list-badge mt-3 ml-2" style="margin: -8px;">
                    <li><a href="#"><span class="tt-color14 tt-badge">LVL : {{student.level}}</span></a></li>
                    {% for role in student.roles.all %}
                        <li><a href="#"><span class="tt-color0{{ role.id }} tt-badge">{{ role }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tt-tab-wrapper">
            <div class="tt-wrapper-inner">
                <ul class="nav nav-tabs pt-tabs-default" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if activity %}active{% endif %}" href="{% url 'user_activity' id=student.user.id %}"><span>Ümumi aktivlik</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if questions %}active{% endif %}" href="{% url 'user_questions' id=student.user.id %}"><span>Suallar</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if comments %}active{% endif %}" href="{% url 'user_comments' id=student.user.id %}"><span>Kommentlər</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if tags %}active{% endif %}" href="{% url 'user_tags' id=student.user.id %}"><span>Taqlar</span></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
            {% block list %}
            {% endblock list %}
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}