{% load el_pagination_tags %}

{% paginate comments %}

{% for comment in comments %}
    <div class="tt-item">
        <div class="tt-col-avatar">
            <img class="tt-icon" src="{{ student.picture.url }}" style="width: 40px; height: 40px; border-radius: 50%" />
        </div>
        <div class="tt-col-description">
            <h6 class="tt-title">
                <a href="#">
                    {{ comment.question.title }}
                </a>
            </h6>
            <div class="tt-col-message">
                Komment : {{ comment.comment|truncatechars:40 }}
            </div>
            <div class="row align-items-center no-gutters">
                <div class="col-11">
                    <ul class="tt-list-badge">
                        {% for tag in comment.question.tags.all %} 
                            <li><a href="{% url 'single_tag' slug=tag.slug %}"><span class="tt-badge">{{ tag.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="tt-col-value hide-mobile text-center">{{ comment.get_upvote }}</div>
        <div class="tt-col-value hide-mobile text-center">{{ comment.get_downvote }}</div>
        <div class="tt-col-value-large hide-mobile text-center">{{ comment.updated|date:"d M,y" }}</div>
    </div>
    
{% endfor %}

{% show_more %}