{% extends 'static.html' %}
{% load static %}
{% block body %}
    <!-- tt-mobile menu -->
    <nav class="panel-menu" id="mobile-menu">
      <ul></ul>
      <div class="mm-navbtn-names">
        <div class="mm-closebtn">
          Close
          <div class="tt-icon">
            <svg>
              <use xlink:href="#icon-cancel"></use>
            </svg>
          </div>
        </div>
        <div class="mm-backbtn">Back</div>
      </div>
    </nav>
    <header id="tt-header">
      <div class="container">
        <div class="row tt-row no-gutters">
          <div class="col-auto">
            <!-- toggle mobile menu -->
            <a class="toggle-mobile-menu" href="#">
              <svg class="tt-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73 63" id="icon-menu_icon">
                  <path d="M68.5 9h-64a4.5 4.5 0 0 1 0-9h64a4.5 4.5 0 0 1 0 9zm0 27h-64a4.5 4.5 0 0 1 0-9h64c2.49 0 4.5 2.01 4.5 4.5S70.99 36 68.5 36zm0 27h-64a4.5 4.5 0 0 1 0-9h64c2.49 0 4.5 2.01 4.5 4.5S70.99 63 68.5 63z"></path>
                </svg>
              </svg>
            </a>
            <!-- /toggle mobile menu -->
            <!-- logo -->
            <div class="tt-logo">
              <a href="{% url 'student-home' %}"><img src="{% static 'images/app_images/logo.png' %}" alt="" /></a>
            </div>
            <!-- /logo -->
            <!-- desktop menu -->
            <div class="tt-desktop-menu">
              <nav>
                <ul>
                  <li>
                    <a href="{% url 'student-home' %}"><span>Suallar</span></a>
                  </li>
                  <li>
                    <a href="{% url 'tags' %}"><span>Taqlar</span></a>
                  </li>
                  <li>
                    <a href="{% url 'faq' %}"><span>FAQ</span></a>
                  </li>
                  <li>
                    <a href="#"
                      ><span>Daha çox <i class="fas fa-caret-down"></i></span
                    ></a>
                    <ul>
                      <li><a href="{% url 'student-rules' %}">Qaydalar</a></li>
                      <li><a href="{% url 'student-about' %}">İstifadəçilər</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- /desktop menu -->
            <!-- tt-search -->
            <div class="tt-search">
              <!-- toggle -->
              <button class="tt-search-toggle" data-toggle="modal" data-target="#modalAdvancedSearch">
                <svg class="tt-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117 117" id="icon-search">
                    <path d="M54 108C24.22 108 0 83.78 0 54S24.22 0 54 0s54 24.22 54 54-24.22 54-54 54zm0-99C29.19 9 9 29.19 9 54s20.19 45 45 45 45-20.19 45-45S78.81 9 54 9z"></path>
                    <path d="M112.5 117c-1.15 0-2.3-.44-3.18-1.32l-23.5-23.5a4.49 4.49 0 0 1 0-6.36 4.49 4.49 0 0 1 6.36 0l23.5 23.5a4.49 4.49 0 0 1 0 6.36c-.88.88-2.03 1.32-3.18 1.32z"></path>
                  </svg>
                </svg>
              </button>
              <!-- /toggle -->
              <form class="search-wrapper">
                <div class="search-form">
                  <input type="text" class="tt-search__input" placeholder="Search" />
                  <button class="tt-search__btn" type="submit">
                    <svg class="tt-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117 117" id="icon-search">
                        <path d="M54 108C24.22 108 0 83.78 0 54S24.22 0 54 0s54 24.22 54 54-24.22 54-54 54zm0-99C29.19 9 9 29.19 9 54s20.19 45 45 45 45-20.19 45-45S78.81 9 54 9z"></path>
                        <path d="M112.5 117c-1.15 0-2.3-.44-3.18-1.32l-23.5-23.5a4.49 4.49 0 0 1 0-6.36 4.49 4.49 0 0 1 6.36 0l23.5 23.5a4.49 4.49 0 0 1 0 6.36c-.88.88-2.03 1.32-3.18 1.32z"></path>
                      </svg>
                    </svg>
                  </button>
                  <button class="tt-search__close">
                    <svg class="tt-icon">
                      <use xlink:href="#cancel"></use>
                    </svg>
                  </button>
                </div>
                <div class="search-results">
                  <div class="tt-search-scroll">
                    <ul>
                      <li>
                        <a href="../single-user/page-single-user.html">
                          <h6 class="tt-title">Rdr2 secret easter eggs</h6>
                          <div class="tt-description">Here’s what I’ve found in Red Dead Redem..</div>
                        </a>
                      </li>
                      <li>
                        <a href="../single-user/page-single-topic.html">
                          <h6 class="tt-title">Top 10 easter eggs in Red Dead Rede..</h6>
                          <div class="tt-description">You can find these easter eggs in Red Dea..</div>
                        </a>
                      </li>
                      <li>
                        <a href="../single-user/page-single-topic.html">
                          <h6 class="tt-title">Red Dead Redemtion: Arthur Morgan..</h6>
                          <div class="tt-description">Here’s what I’ve found in Red Dead Redem..</div>
                        </a>
                      </li>
                      <li>
                        <a href="../single-user/page-single-topic.html">
                          <h6 class="tt-title">Rdr2 secret easter eggs</h6>
                          <div class="tt-description">Here’s what I’ve found in Red Dead Redem..</div>
                        </a>
                      </li>
                      <li>
                        <a href="../single-user/page-single-topic.html">
                          <h6 class="tt-title">Top 10 easter eggs in Red Dead Rede..</h6>
                          <div class="tt-description">You can find these easter eggs in Red Dea..</div>
                        </a>
                      </li>
                      <li>
                        <a href="../single-user/page-single-topic.html">
                          <h6 class="tt-title">Red Dead Redemtion: Arthur Morgan..</h6>
                          <div class="tt-description">Here’s what I’ve found in Red Dead Redem..</div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <button type="button" class="tt-view-all" data-toggle="modal" data-target="#modalAdvancedSearch">Advanced Search</button>
                </div>
              </form>
            </div>
            <!-- /tt-search -->
          </div>
          <div class="col-auto ml-auto">
            
            <div class="tt-account-btn">
            
              {% comment %} <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a> {% endcomment %}
              <div class="tt-user-info d-flex justify-content-center">
                    <a href="{%url 'logout'%}" class="tt-btn-icon">
                         <i class="fal fa-sign-out-alt" style="font-size: 25px; color: black;"></i>
                    </a>
                    <div class="tt-avatar-icon tt-size-md">
                        <img src="{{ request.user.student.picture.url }}" alt="" style="width:40px; height:40px;">
                    </div>

                    <div style="margin-top: 5px;">
                     <a href="{% url 'user_activity' id=request.user.id %}">
                        {{request.user.username}}
                        </a>
                    </div>
                </div>
    
            </div>
          </div>
        </div>
      </div>
    </header>

    {% block content %} {% endblock content %}

    <div id="js-popup-settings" class="tt-popup-settings">
      <div class="tt-btn-col-close">
        <a href="#">
          <span class="tt-icon-title">
            <svg>
              <use xlink:href="#icon-settings_fill"></use>
            </svg>
          </span>
          <span class="tt-icon-text"> Settings </span>
          <span class="tt-icon-close">
            <svg>
              <use xlink:href="#icon-cancel"></use>
            </svg>
          </span>
        </a>
      </div>
      <form class="form-default">
        <div class="tt-form-upload">
          <div class="row no-gutter">
            <div class="col-auto">
              <div class="tt-avatar">
                <svg>
                  <use xlink:href="#icon-ava-d"></use>
                </svg>
              </div>
            </div>
            <div class="col-auto ml-auto">
              <a href="#" class="btn btn-primary">Upload Picture</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="settingsUserName">Username</label>
          <input type="text" name="name" class="form-control" id="settingsUserName" placeholder="azyrusmax" />
        </div>
        <div class="form-group">
          <label for="settingsUserEmail">Email</label>
          <input type="text" name="name" class="form-control" id="settingsUserEmail" placeholder="Sample@sample.com" />
        </div>
        <div class="form-group">
          <label for="settingsUserPassword">Password</label>
          <input type="password" name="name" class="form-control" id="settingsUserPassword" placeholder="************" />
        </div>
        <div class="form-group">
          <label for="settingsUserLocation">Location</label>
          <input type="text" name="name" class="form-control" id="settingsUserLocation" placeholder="Slovakia" />
        </div>
        <div class="form-group">
          <label for="settingsUserWebsite">Website</label>
          <input type="text" name="name" class="form-control" id="settingsUserWebsite" placeholder="Sample.com" />
        </div>
        <div class="form-group">
          <label for="settingsUserAbout">About</label>
          <textarea name="" placeholder="Few words about you" class="form-control" id="settingsUserAbout"></textarea>
        </div>
        <div class="form-group">
          <label for="settingsUserAbout">Notify me via Email</label>
          <div class="checkbox-group">
            <input type="checkbox" id="settingsCheckBox01" name="checkbox" />
            <label for="settingsCheckBox01">
              <span class="check"></span>
              <span class="box"></span>
              <span class="tt-text">When someone replies to my thread</span>
            </label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="settingsCheckBox02" name="checkbox" />
            <label for="settingsCheckBox02">
              <span class="check"></span>
              <span class="box"></span>
              <span class="tt-text">When someone likes my thread or reply</span>
            </label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="settingsCheckBox03" name="checkbox" />
            <label for="settingsCheckBox03">
              <span class="check"></span>
              <span class="box"></span>
              <span class="tt-text">When someone mentions me</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-secondary">Save</a>
        </div>
      </form>
    </div>
    <a href="{% url 'student_page_create_topic' %}" class="tt-btn-create-topic">
      <span class="tt-icon">
        <svg>
          <use xlink:href="#icon-create_new">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.51 161.51" id="icon-create_new">
              <circle cx="80.76" cy="80.76" r="80.76" fill="#3571b8"></circle>
              <path d="M80.76 121.26c-2.49 0-4.5-2.01-4.5-4.5v-72a4.5 4.5 0 0 1 9 0v72c0 2.48-2.02 4.5-4.5 4.5z"></path>
              <path d="M116.76 85.26h-72a4.5 4.5 0 0 1 0-9h72a4.5 4.5 0 0 1 0 9z"></path>
            </svg>
          </use>
        </svg>
      </span>
    </a>
    <!-- Bu modal Bootstrap ile isleyir -->
    <div class="modal fade" id="modalAdvancedSearch" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="tt-modal-advancedSearch">
            <div class="tt-modal-title">
              <i class="pt-icon">
                <svg>
                  <use xlink:href="#icon-advanced_search"></use>
                </svg>
              </i>
              Advanced Search
              <a class="pt-close-modal" href="#" data-dismiss="modal">
                <svg class="icon">
                  <use xlink:href="#icon-cancel"></use>
                </svg>
              </a>
            </div>
            <form class="form-default">
              <div class="form-group">
                <i class="pt-customInputIcon">
                  <svg class="tt-icon">
                    <use xlink:href="#icon-search"></use>
                  </svg>
                </i>
                <input type="text" name="name" class="form-control pt-customInputSearch" id="searchForum" placeholder="Search all forums" />
              </div>
              <div class="form-group">
                <label for="searchName">Posted by</label>
                <input type="text" name="name" class="form-control" id="searchName" placeholder="Username" />
              </div>
              <div class="form-group">
                <label for="searchCategory">In Category</label>
                <input type="text" name="name" class="form-control" id="searchCategory" placeholder="Add Category" />
              </div>
              <div class="checkbox-group">
                <input type="checkbox" id="searcCheckBox01" name="checkbox" />
                <label for="searcCheckBox01">
                  <span class="check"></span>
                  <span class="box"></span>
                  <span class="tt-text">Include all tags</span>
                </label>
              </div>
              <div class="form-group">
                <label>Only return topics/posts that...</label>
                <div class="checkbox-group">
                  <input type="checkbox" id="searcCheckBox02" name="checkbox" />
                  <label for="searcCheckBox02">
                    <span class="check"></span>
                    <span class="box"></span>
                    <span class="tt-text">I liked</span>
                  </label>
                </div>
                <div class="checkbox-group">
                  <input type="checkbox" id="searcCheckBox03" name="checkbox" />
                  <label for="searcCheckBox03">
                    <span class="check"></span>
                    <span class="box"></span>
                    <span class="tt-text">are in my messages</span>
                  </label>
                </div>
                <div class="checkbox-group">
                  <input type="checkbox" id="searcCheckBox04" name="checkbox" />
                  <label for="searcCheckBox04">
                    <span class="check"></span>
                    <span class="box"></span>
                    <span class="tt-text">I’ve read</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" id="searchTop">
                  <option>any</option>
                  <option>value 01</option>
                  <option>value 02</option>
                  <option>value 03</option>
                </select>
              </div>
              <div class="form-group">
                <label for="searchaTopics">Where topics</label>
                <select class="form-control" id="searchaTopics">
                  <option>any</option>
                  <option>value 01</option>
                  <option>value 02</option>
                  <option>value 03</option>
                </select>
              </div>
              <div class="form-group">
                <label for="searchAdvTime">Posted</label>
                <div class="row">
                  <div class="col-6">
                    <select class="form-control">
                      <option>any</option>
                      <option>value 01</option>
                      <option>value 02</option>
                      <option>value 03</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <input type="text" name="name" class="form-control" id="searchAdvTime" placeholder="dd-mm-yyyy" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="minPostCount">Minimum Post Count</label>
                <select class="form-control" id="minPostCount">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option selected>10</option>
                </select>
              </div>
              <div class="form-group">
                <a href="#" class="btn btn-secondary btn-block">Search</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}