{% extends 'static.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block body %}
<!-- tt-mobile menu -->
<nav class="panel-menu" id="mobile-menu">
    <ul>

    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">
            Close
            <div class="tt-icon">
                <svg>
                  <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<main id="tt-pageContent" class="tt-offset-none">
    <div class="container">
        <div class="tt-loginpages-wrapper">
            <div class="tt-loginpages">
                <div class="tt-block-title tex-center">
                    <img src="{% static 'images/app_images/logo-lg.png' %}" alt="" class="col-12">
                    <div class="tt-title text-center col-12">
                        PragmatechCommunity
                    </div>
                </div>
                <form class="form-default" method="POST">
                    {% csrf_token %}
                    {{ form.old_password | as_crispy_field }}

                    {{ form.new_password1 | as_crispy_field }}

                    {{ form.new_password2 | as_crispy_field }}
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block">Şifrəni Dəyiş</button>
                    </div>
                    <div class="form-group text-center">
                        <a href="{% url 'student-home' %}" class="logo-color-text">Ana səhifə</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock body %}