{% extends 'static.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block body %}

<!-- tt-mobile menu -->
<nav class="panel-menu" id="mobile-menu">
    <ul>
    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">
            Close
            <div class="tt-icon">
                <svg>
                  <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<main id="tt-pageContent" class="tt-offset-none">
    <div class="container">
        <div class="tt-loginpages-wrapper">
            <div class="tt-loginpages">
                <a href="{% url 'student-home' %}" class="tt-block-title">
                    <img src="{% static 'images/app_images/logo.png' %}" alt="">
                    <div class="tt-title">
                        PragmatechQA
                    </div>
                </a>
                <form class="form-default" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %} 
                    
                   {{form}}
                        
                     
                    <div class="form-group">
                        <button class="btn btn-secondary btn-block" type="submit">Əlavə et</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock body %}