{% extends 'static.html' %}

{% load static %}

{% block body %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-layout-404">
           <span class="tt-icon">
                <svg class="icon">
                  <use xlink:href="#icon-error_404"></use>
                </svg>
           </span>
           <h6 class="tt-title">ERROR 404</h6>
           <p>Təəssüf ki, sizin axtardığınız səhifə tapılmadı.<br></p>
            <a href="{% url 'student-home' %}" class="tt-color-dark tt-underline-02">Ana səhifə</a>
        </div>
    </div>
</main>

{% endblock body %}